<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>eCoiner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="#{facesContext.externalContext.requestContextPath}/resources/shamrock.css" rel="stylesheet"/>
    <style type="text/css">
        .ui-datepicker {
            background-color: #4B792E;
            display: none;
            padding: 0.2em 0.2em 0;
            width: 17.2em;
        }
        .ui-inputfield {
            font-weight: normal;
            margin: 0;
            outline: medium none;
            padding: 4px;
            width: 97%;
        }
    </style>
</h:head>
<h:body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"><h1>eCoiner</h1></div>
            <div id="navbar-main" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-text">
                    <li><h:outputLabel value="Saldo: 1570,00" style="color: #F2F1F0" rendered="false"/></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="#">Cuenta</a></li>
                    <li><a target="_blank" href="#">Deportes</a></li>
                    <li><a target="_blank" href="#">Financieros</a></li>
                    <li><a target="_blank" href="#">Juegos</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <h:form>
                        <h:panelGrid columns="3" rendered="true">
                            <h:selectOneMenu value="asdfas" styleClass="btn btn-info dropdown-toggle">
                                <f:selectItem itemLabel="Español" />
                                <f:selectItem itemLabel="English" />
                            </h:selectOneMenu>
                            <p:commandButton styleClass="btn btn-default" value="Entrar" onclick="PF('dlg1').show();"/>
                            <p:commandButton styleClass="btn btn-default" value="Registro" action="irRegistro"/>
                        </h:panelGrid>
                    </h:form>
                    <h:panelGroup style="text-align: center" rendered="false">
                        <li><h:outputLabel value="julicasalayahoo.es"/></li>
                        <li><h:outputLabel value="ID: 97854630"/></li>
                    </h:panelGroup>
                </ul>
            </div>
        </div>
    </div>
    <header class="jumbotron subhead" id="overview"/>
    <div class="container">
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="page-header">
                    <ui:insert name="contenido"/>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row" align="center">
            <h:panelGrid columns="5" styleClass="form-group" style="text-align: center">
            <p:commandLink value="QUIENES SOMOS"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p:commandLink value="PREGUNTAS FRECUENTES"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p:commandLink value="TÉRMINOS Y CONDICIONES"/>
            <p:commandLink value="POLÍTICA DE PRIVACIDAD"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p:commandLink value="CONTACTO"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p:commandLink value="DISCLOSURE"/>
            </h:panelGrid>
        </div>
    </footer>
    <p:dialog id="basicDialog" header="Login" widgetVar="dlg1" style="background-color: #538935;" styleClass="form-horizontal">
        <div class="modal-content modal-body">
            <h:form styleClass="form-horizontal">
                <h:panelGrid columns="2" styleClass="form-group">
                    <p:outputLabel value="Nombre Usuario" />
                    <p:inputText value="#{templateBean.usuario.nombreUsuario}"/>
                    <p:outputLabel value="Contraseña" />
                    <p:inputText value="#{templateBean.usuario.contrasenia}"/>
                    <f:facet name="footer"><br/>
                        <div align="center">
                        <h:commandButton styleClass="btn btn-primary" value="Aceptar" action="#{templateBean.login}"/>
                        <h:commandButton styleClass="btn btn-default" value="Cancelar" onclick="PF('dlg1').hidden;"/>
                        </div>
                    </f:facet>
                </h:panelGrid>
            </h:form>
        </div>
    </p:dialog>
</h:body>
</html>