<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<!--NO FUNCIONA-->

<h:head>
	<title>#{res.access_denied}</title>
</h:head> 
<body> 
	<h1>#{res.access_denied}</h1>	
	<h:outputLink value="#{request.contextPath}/index.xhtml" >#{res.try_again}</h:outputLink>
</body> 
</html>
