<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
    <ui:define name="contenido">
        <div class="jumbotron">
            <h1>eCoiner</h1>
            <p>Esta es una simple unidad estilo jumbo, componente para llamar una atencion extra para caracterizar el contenido de la infomacion.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </ui:define>
</ui:composition>
</html>