<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:body>
    <link href="#{facesContext.externalContext.requestContextPath}/resources/shamrock.css" rel="stylesheet"/>

    <h:form >
        <p:panelGrid id="gridForm" columns="2" styleClass="form-group">
            <p:outputLabel styleClass="col-lg-2 control-label" value="ID: "/>
            <p:inputText styleClass="col-lg-10 form-control" value="#{loginBean.usuario.nombre}"/>
            <p:inputText styleClass="col-lg-10 form-control" value="#{loginBean.usuario.password}"/>
            <p:commandButton styleClass="btn btn-primary" value="Buscar1" action="#{loginBean.login}"/>
        </p:panelGrid>
    </h:form>
</h:body>
</html>