<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<!--NO FUNCIONA-->
<h:head>

</h:head>

<h:body>
<h:outputLabel value="dsftygbuhnijomk,l"/>
</h:body>

</html>