<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/template.xhtml">
    <ui:define name="contenido">
        <div align="center">
        <!--<p:messages id="messages" showDetail="true" autoUpdate="true"/>-->
        <h:form styleClass="form-horizontal" >
            <fieldset>
                <legend>Registro Usuario</legend>
                <h:panelGrid columns="2" styleClass="form-group">
                    <h:outputLabel value="Nombres:"/>
                    <p:inputText value="#{registroBean.usuario.nombre}"/>
                    <h:outputLabel value="Apellidos:"/>
                    <p:inputText value="#{registroBean.usuario.apellidos}"/>
                    <h:outputLabel value="Fecha de Nacimiento:"/>
                    <p:calendar value="#{registroBean.usuario.fechaNac}"/>
                    <h:outputLabel value="Tratamiento:"/>
                    <p:inputText value="#{registroBean.usuario.tratamiento}"/>
                    <h:outputLabel value="País de Residencia:"/>
                    <h:selectOneMenu value="#{registroBean.usuario.paisResidencia}" styleClass="form-control">
                        <f:selectItem itemLabel="--Seleccione--" noSelectionOption="true"/>
                        <f:selectItem itemLabel="Colombia" itemValue="Colombia"/>
                        <f:selectItem itemLabel="Mexico" itemValue="Mexico"/>
                        <f:selectItem itemLabel="Bolivia" itemValue="Bolivia"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="Provincia:"/>
                    <h:selectOneMenu value="#{registroBean.usuario.provincia}" styleClass="form-control">
                        <f:selectItem itemLabel="--Seleccione--" noSelectionOption="true"/>
                        <f:selectItem itemLabel="Provincia 1" itemValue="Provincia 1"/>
                        <f:selectItem itemLabel="Provincia 2" itemValue="Provincia 2"/>
                        <f:selectItem itemLabel="Provincia 3" itemValue="Provincia 3"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="Ciudad:"/>
                    <h:selectOneMenu value="#{registroBean.usuario.ciudad}"  styleClass="form-control">
                        <f:selectItem itemLabel="--Seleccione--" noSelectionOption="true" />
                        <f:selectItem itemLabel="Ciudad 1" itemValue="Ciudad 1" />
                        <f:selectItem itemLabel="Ciudad 2" itemValue="Ciudad 2" />
                        <f:selectItem itemLabel="Ciudad 3" itemValue="Ciudad 3" />
                    </h:selectOneMenu>
                    <h:outputLabel value="Email:"/>
                    <p:inputText value="#{registroBean.usuario.correo}"/>
                    <h:outputLabel value="Contraseña:"/>
                    <p:password id="pwd1" match="pwd2" value="#{registroBean.usuario.contrasenia}" feedback="true"/>
                    <h:outputLabel value="Lenguaje:"/>
                    <p:inputText value="#{registroBean.usuario.lenguaje}"/>
                    <h:outputLabel value="Nombre de Usuario:"/>
                    <p:inputText value="#{registroBean.usuario.nombreUsuario}"/>
                    <h:outputLabel value="Dirección:"/>
                    <p:inputText value="#{registroBean.usuario.direccion}"/>
                    <h:outputLabel value="Teléfono:"/>
                    <p:inputText value="#{registroBean.usuario.telefono}"/>
                    <h:outputLabel value="Confirmar Email:"/>
                    <p:inputText value="#{registroBean.usuario.correo}"/>
                    <h:outputLabel value="Confirmar Contraseña:"/>
                    <p:password id="pwd2" value="#{registroBean.usuario.contrasenia}"/>
                </h:panelGrid>
                <p:commandButton styleClass="btn btn-primary" value="Aceptar" action="#{registroBean.registrar}"/>
                <p:commandButton styleClass="btn btn-default" value="Cancelar" action="irInicio"/>
            </fieldset>
        </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>